---
---

@import "{{ site.theme }}";
body {
    background: none;
}

section {
    border: none;
    background: none;
}

#banner {
    background: white;
    display: none;
}

header {
    background: none;
    background-color: #F76902;
    box-shadow: none;
}

header h1, header p {
    text-shadow: none;
    color: white;
}

a {
    color: #F76902;
}

a:hover {
    text-decoration: underline;
    color: #DA291C;
}
